header {
    display: grid;
    grid-template-columns: auto 1fr auto; 
    align-items: center; 
    padding: 20px;
    background-color: #ad0017;
    border-radius: 10px;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

header img {
    max-width: 100px;
    height: auto;
}

header h1 {
    margin: 0;
    text-align: center;
    overflow: hidden;
    color:#faf7f7;
}

.mainnav {
    display: flex;
    justify-content: flex-start; 
    gap: 20px; 
    
}

.mainnav a {
    text-decoration: none;
    color:#faf7f7;
    font-size: 18px;
}

header .mainnav {
    justify-self: end;
}

@media (max-width: 768px) {
    header {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .mainnav {
        justify-content: center;
    }
}

header p {
    margin: 0;
    font-size: 20px;
    color:#faf7f7;
}

main > div h1 {
    display: flex;
    justify-content: center;
}

.aboutme {
    float : right;
    display: flex;

}

.first {
    display: flex;
    justify-content: center;
    align-items: center;
}

.adventure {
    display: flex;
    text-align: center;
    justify-content: space-around;
    border-radius: 20px;
}
.titleadventure {
    display: flex;
    justify-content: center;
}


.sociallinks {
   
    font-size: 20px;
    display: flex;
    justify-content: right;
}
.copy {
    display: flex;
    justify-content: center;
}
